@font-face {
  font-family: 'RedHatText';
  src: url('/public/assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText';
  src: url('/public/assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText';
  src: url('/public/assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}



body {
  background-color: #edebe899;
  margin: 0;
  font-family: 'RedHatText', sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
